<%-include("partials/header.ejs")%>
<div class="main-container">
<h1> GROW WITH QUOTES</h1>
<div class="sub-container">
<form action="/post" method="POST">
  <button type="submit" class="btn btn-light">WANT TO INSPIRE</button>
</form>

<img class="image" src="motivation man.png" alt="Jacked man">

<form action="/comments" method="POST">
  <button type="submit" class="btn btn-light">WANT TO GROW</button>
</form>


</div>   
</div>


<%-include("partials/footer.ejs")%>
