<%-include("partials/header.ejs")%>

<div class="header">
<form action="/backhome" method="POST">
  <button type="submit" class="btn btn-light">Homepage</button>
  </form>
</div>
</div>

<div class="main-container">

<% let placeholder_text = ""
  if (locals.no_quote){
    placeholder_text = "Must enter quote"
  }%>

  <%if(is_logging == true){%>
    <form action="/signed-in" method="POST">
    <h1>ENTER YOUR USERNAME</h1>
    <input type="text" id="name" name="username">
    <h1>ENTER YOUR PASSWORD</h1>
    <input type="text" id="quote" name="password" placeholder="<%=placeholder_text%>">
    <button type="submit" class="btn btn-light">LOG IN</button>
    </form>
    <%}else{%>
    <form action="/registered" method="POST">
    <h1>CREATE YOUR USERNAME</h1>
    <input type="text" id="name" name="username">
    <h1>CREATE A PASSWORD</h1>
    <input type="text" id="quote" name="password" placeholder="<%=placeholder_text%>">
    <button type="submit" class="btn btn-light">REGISTER</button>
    </form>
    <%}%>
    
    
    

</div>
<%-include("partials/footer.ejs")%>