<%-include("partials/header.ejs")%>

<form action="/backhome" method="POST">
  <button type="submit" class="btn btn-light">Homepage</button>
</form>

<div class="main-container">

<% let placeholder_text = ""
  if (locals.no_quote){
    placeholder_text = "Must enter quote"
  }%>
<form action="/" method="POST">
    <h1>ENTER YOUR NAME</h1>
    <input type="text" id="name" name="name">
    <h1>ENTER YOUR QUOTE</h1>
    <input type="text" id="quote" name="quote" placeholder="<%=placeholder_text%>">
  <button type="submit" class="btn btn-light">SUBMIT</button>
</form>
</div>
<%-include("partials/footer.ejs")%>