<%-include("partials/header.ejs")%>

<div class="header">
<form action="/backhome" method="POST">
  <button type="submit" class="btn btn-light">Homepage</button>
</form>
<div class="registration_buttons">
  <%if(signed_in){%>
  <form action="/sign-out" method="POST">
  <button type="submit" class="btn btn-light">Sign Out</button>
  </form>
<%}else{%>
<form action="/login" method="POST">
  <button type="submit" class="btn btn-light">Login</button>
</form>

<form action="/register" method="POST">
  <button type="submit" class="btn btn-light">Register</button>
</form>
  <%}%>
</div>
</div>

<div class="main-container">

<% let placeholder_text = ""
  if (locals.no_quote){
    placeholder_text = "Must enter quote"
  }%>
<form action="/" method="POST">
    <h1>ENTER YOUR QUOTE</h1>
    <input type="text" id="quote" name="quote" placeholder="<%=placeholder_text%>">
  <button type="submit" class="btn btn-light">SUBMIT</button>
</form>
</div>
<%-include("partials/footer.ejs")%>